
.game-container {
    width: 900px !important;
    height: 500px;

    background-image: url("../images/p1-street2-bg.png");
    /* background-size:; */
    background-repeat: no-repeat;
}
.game-container2 {
    width: 900px;
    height: 500px;
    background-image: url("../images/p1-street-bg.png");
    /* background-size:; */
    background-repeat: no-repeat;
}
.game-container3 {
    width: 900px;
    height: 500px;
    background-image: url("../images/p1-ogden-bg.png");
    /* background-size:; */
    background-repeat: no-repeat;
}
/* .rectangle {
    height: 100px;
    width: 50px;
    background-color: red;
} */
#van {
    position: relative;
    width: 50px;
    height: 40px;
}

/*door*/
.rectangle {
    height: 100px;
    width: 50px;
    background-color: red;
}

#playerStats {
    border: 2px solid black;
}

/*Styling user interaction payne */
.interactions {
    background: black;
    color: whitesmoke;
    border: 5px outset gold;
    margin-top: 10px;
    margin-bottom: 10px;
}

#scenarioRow {
    border-bottom: solid 8px grey;
}

#userInteraction {
    border-right: 3px outset gold;
}

.userChoices {
    font-size: 24px;
    color: darkred;
    padding: 5px;
}

.thisChoice:hover {
    background-color: gray;
    color: darkmagenta;
    cursor: pointer;
}

/*Styling the gamePlay payne*/
.gamePlay {
    background: black;
    color: white;
}

/*Styling sidekick function */
.sidekickChoice {
    height: 200px;
    width: 200px;
    border: 50 px solid black;


}